<div class="bg-slate-500  min-h-screen">
  <div class=" -ml-10 h-screen p-[30px]" >
    <section class="bg-white overflow-hidden  transition-all duration-500 ease-in-out transform origin-bottom fixed bottom-24 right-5
     rounded-2xl
     xs:w-[20rem] h-[25rem] --0
      sm:w-80 sm:h-[26rem]
      md:w-96 md:h-[26rem]
    "
     *ngIf="mostraChat">
      <header class="bg-blue-900 p-5 text-center text-white font-sans ">
        <h2 class="text-lg " > Assistente Virtual Angola Cables</h2>
      </header>
      <article class="p-2 pb-1 bg-[#f4f1f1] m-5  rounded-md">
        <p >  Olá! Sou o Assistente virtual da Angola Cables.</p>
      </article>
      <article class="p-4 bg-[#f4f1f1] m-5 -mt-4 w- rounded-lg">
        <p class="mb-2">Posso a ajudar com:</p>

        <ul class="list-disc text-sm pl-6 marker:text-blue-900 ">
          <li>Internet & Fibra Óptica</li>
          <li>Serviços Cloud</li>
          <li>Data Centers</li>
          <li>Suporte Técnico</li>

        </ul>
      </article>
      <form method="post" class="flex items-center gap-2 px-5">
        <input type="text" placeholder="escreva sua mensagem..." class="flex-1 rounded-xl border-2 p-3 border-blue-600">
        <button type="submit" class="bg-blue-900 text-white px-4 py-2 rounded-xl"><img src="img/send.png" alt="" class="w-[35px] invert brightness-0 "></button>
      </form>
    </section>
        <img src="img/chat.png" alt="chat"  (click)="appear()" class="w-[75px] cursor-pointer fixed bottom-5 right-5">
</div>

</div>
