<div class="bg-slate-400 h-screen">
  <div class="p-20 " >
    <section class="bg-white overflow-hidden w-96 rounded-lg  h-96 ">
      <header class="bg-blue-900 p-5 text-center text-white font-sans ">
        <h2 class="text-lg " > Assistente Virtual Angola Cables</h2>
      </header>
      <article class="p-2 pb-1 bg-[#f4f1f1] m-5  rounded-md">
        <p >  Olá! Sou o Assistente virtual da Angola Cables.</p>
      </article>
      <article class="p-4 bg-[#f4f1f1] m-5 -mt-4 w-1/7 rounded-lg">
        <p class="mb-2">Posso a ajudar com:</p>

        <ul class="list-disc text-sm pl-6 marker:text-blue-900 ">
          <li>Internet & Fibra Óptica</li>
          <li>Serviços Cloud</li>
          <li>Data Centers</li>
          <li>Suporte Técnico</li>

        </ul>
      </article>
      <form action="" method="post">
        <input type="text" name="que" id="is" placeholder="escreva sua mensagem..." class="rounded-xl border-2 p-4 ml-8">
        <button type="button">enviar</button>
      </form>

    </section>
  </div>
</div>
